<div class="container mt-4">
  <h1>Places</h1>
  <% if @current_user != nil %>
    <a href="places/new" type="button" class="btn btn-primary mt-3">New Place</a>
  <% else %>
  <% end %>
</div>
<div class="container mt-4">
  <% for place in @places %>
      <div class="container mt-4">
        <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
      </div>
    <% end %>
</div>
  
